{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link href="{% static 'account/styles.css' %}" rel="stylesheet" />
    <title>User's Account</title>
  </head>

  <body>
    <!-- Background img -->
    
      <img id="background" src="{% static 'account/background.jpeg' %}" alt="nature" />
    

    <div class='navbar'>
      <a href="../index.html">
      <img id="logo" src="{% static 'home/logo.png' %}" alt="Smart Recycle Logo" />
        </a>
    </div>

<div class='information'>
    <div class='col1'>
      <p>Username:</p>
      <p>First name:</p>
      <p>Last name:</p>
      <p>Email:</p>
      <p>Phone number:</p>
      <p>Birth Date:</p>
      <p>Password:</p>
    </div>
  
    <div class='col2'>
      <p>nancy0512</p>
      <p>Nancy</p>
      <p>Smith</p>
      <p>nancysmith0512@gmail.com</p>
      <p>4708629846</p>
      <p>May 12, 2004</p>

      <form action="/login" method="post">

        <label for="password"></label>
        <input type="password" id="password" name="password" required>
      </form>
    </div>
</div>

    <!---Reward--->
    
      <div class='reward_title'>
        <img id='divider' src="{% static 'account/divider.png' %}" alt='divider'/>
        <h1 id='reward_heading'>Your Rewards</h1>
        <img id='divider' src="{% static 'account/divider.png' %}" alt='divider'/>
      </div>

    <div class='reward_content'>
      <p id='point_p'>You've got: </p>
      <h2 id='point_h2'>350 Recycle Points</h2>
      <img id='point_img' src="{% static 'account/point.png' %}" alt='Recycle Point'/>
    </div>
    


<!---Footer--->
    <footer>
      <div class='col1'>
        <div class="logo2-container">
          <img id='logo2' src ='../logo.png' alt='Smart Cycle Logo'/>
        </div>

        <div class='form'>
          <h3>Stay up-to-date with our monthly newsletter</h3>
          <form action='#' method ='post2' class = 'newsletter'>
          <label for ='email'>Email</label>
          <input type ='email' id ='email' name = 'email' placeholder='Your Email Address' required>
        </div>
      </div>

      <div class='credit'>
        <h2>Created by</h2>
        <p>Sewon Kim</p>
        <p>Alex Jia</p>
        <p>David Shen</p>
        <p>Kathy Tran</p>
      </div>
    </footer>
  </body>
</html>
