* {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}

body {}

#background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center;
  z-index: -1;
  opacity: 0.85;
}

#logo {
  width: 250px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -20px;
  padding: 0rem 3rem;
}

.information {
  width: 65%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
}

footer {
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  display: flex;
  margin-bottom: 0;
  margin-top: 200px;
  align-items: center;
  justify-content: space-evenly;
  background-color: #1B2E0D;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  width: 100%;
  padding: 1rem 3rem;
}

footer>* {
  color: #E4D8C5;
}

.col1,
.col2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.1rem;
}

.logo2-container {
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#logo2 {
  width: 20%;
}

.form>* {
  font-family: Playfair Display;
}

#email {
  font-family: Playfair Display;
}

.form label {
  font-family: Playfair Display;
}

.credit {
  text-align: center;
}

.credit p {
  color: white;
}

#logo {
  font-family: Playfair Display;
}

.credit>* {
  font-family: Playfair Display;
}

.credit>h2 {
  width: max-content;
  margin-bottom: 0.3rem;
}

.credit>p {
  font-size: 0.9rem;
}

/*Rewards*/

#point_img {
  z-index: 2;
  width: 70px;
}

#point_p {
  margin-top: 60px;
  font-size: 30px;
  color: white;
}

#point_h2 {
  font-size: 60px;
  color: white;
}

.reward_content {
  background-color: transparent;
  z-index: 2;
  border: 3px solid #E4D8C5;

  margin-bottom: 200px;
  width: 80%;
  margin-left: 10%;
}

#divider {
  width: 30%;
}

.reward_title {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 0.5rem;
}

#reward_heading {
  color: #E4D8C5;
  font-size: 1.5rem;
  height: min-content;
}